<div class="container">
  <div class="row">
    <div class="card">
      <i class="fa fa-user"><p id="text">No user risk score yet</p></i>
    </div>
    <div class="card-2">
        <%= render 'shared/tabs' %>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="card-3">
      <ul>
        <li>Target</li>
        <li>Initial deposit</li>
        <li>Monthyly payment</li>
        <li>Period</li>
      </ul>
    </div>
    <div class="card-4">
        <canvas id="myChart"></canvas>
    </div>
  </div>
</div>
