 <div class="footer">
  <div class="footer-links">
    <a href="https://www.github.com/ctrlXie" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    past performance does not guarantee future perfomance
  </div>


