
  <div class="tabs">
    <a class="tab active" href="#">
      <h3>Conservative</h3>
    </a>
    <a class="tab" href="#">
      <h3>Balanced</h3>
    </a>
    <a class="tab" href="#">
      <h3>Aggressive</h3>
    </a>
    <a class="tab" href="#">
      <h3>Extreme</h3>
    </a>
  </div>

