<div id="tab-row">
  <div class="container">
    <div class="row">
      <div class="card">
        <i class="fa fa-user"></i>
        <div>
          <p id="text">No user risk score yet</p>
        </div>
      </div>
      <div class="card-2">
        <div class="tabs">
          <a class="tab active" href="#">
            <h3><span class="dot1"></span>Conservative</h3>
          </a>
          <a class="tab" href="#">
            <h3><span class="dot2"></span>Balanced</h3>
          </a>
          <a class="tab" href="#">
            <h3><span class="dot3"></span>Aggressive</h3>
          </a>
          <a class="tab" href="#">
            <h3><span class="dot4"></span>Extreme</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



